/* src/styles/Credits.css */
.credits-container {
    max-width: 800px;
    margin: 0;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
}

.header-text {
    margin: 0;
    font-size: 2em;
    color: var(--header-color);
    text-align: left;
    padding-bottom: 15px;
    font-weight: bold;
}

.credit-item {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--text-color);
}

.credit-label {
    font-weight: bold;
}

.credit-link {
    text-decoration: none;
    color: var(--color-2);
    transition: color 0.3s ease;
}

.credit-link:hover {
    color: var(--color-text);
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .credits-container {
        padding: 15px;
    }

    .header-text {
        font-size: 1.5em;
    }

    .credit-item {
        font-size: 1em;
    }
}
