.header-text{
    margin: 0;
    font-size: 35px;
    color: var(--color-text);
    padding-bottom: 5px;
    font-weight: bold;
}
.wrapper{
    max-width: 50rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr max-content;
    width: 50rem;
    margin: 0 auto;
}
.container p{
    padding-bottom: 1rem;
    text-align: left;
}

.container>* {
    margin: 0.2rem;
}

#current {
    grid-column: span 2;
}

input,
select,
button {
    background: var(--color-main-background-secondary);
    color: var(--color-text);
    padding: 0.3rem;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.2s ease;
    outline: none;
    &:hover{
        background: var(--color-1);
        color: var(--color-text-hover);
    }
}

#code {
    font-family: monospace
}

@media (max-width: 50rem) {
    div.container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    div.container p {
        text-align: center;
    }

    div.container>* {
        margin: 1rem 0.2rem
    }
    .header-text{
        text-align: center;
    }
}