:root {
    /* Font Sizes */
    --font-size-base: 20px;
    --font-size-header: calc(var(--font-size-base) + 10px);
    --font-size-subheader: calc(var(--font-size-base) + 5px);
    --font-size-span: var(--font-size-subheader);
    --font-size-title: var(--font-size-base);
    --font-size-desc: calc(var(--font-size-base) - 5px);

    /* Link Styling */
    --color-link: var(--color-accent-light);
    --color-link-hover: var(--color-accent-dark);
    --transition-link-hover: 0.3s;

    /* Border Radius */
    --border-radius-base: 16px;
    --border-radius-small: calc(var(--border-radius-base) / 2);

    /* Margins and Spacing */
    --spacing-base: 10px;

    /* Background Colors */
    --color-bg-base: #1c1e26;
    /* Dark background */
    --color-bg-surface: #232530;
    /* Card/container background */
    --color-bg-overlay: #2e303e;
    /* Overlay elements */

    /* Primary Colors */
    --color-accent-light: #f79483;
    /* Soft coral */
    --color-accent-dark: #e2a478;
    /* Muted orange */
    --color-accent-extra: #e46876;
    /* Pinkish accent */

    /* Text Colors */
    --color-text-primary: #e0def4;
    /* Light text */
    --color-text-secondary: #a3a1bd;
    /* Muted text */
    --color-text-hover: #ffffff;
    /* Hover text */
    --color-text-inverted: var(--color-accent-light);

    /* Accent Colors */
    --color-accent: var(--color-accent-light);

    /* Border Colors */
    --color-border: rgba(224, 222, 244, 0.5);

    /* Status Colors */
    --color-status-online: #a2c9a3;
    /* Soft green */
    --color-status-dnd: #e46876;
    /* Soft pink/red */
    --color-status-idle: #f8bd96;
    /* Light orange */
    --color-status-offline: #6c6f93;
    /* Muted purple-gray */

    /* Additional Background Colors */
    --color-bg-highlight: #363a49;
    /* Background for highlights */
    --color-bg-muted: var(--color-bg-surface);
}

[data-theme='light'] {
    /* Font Sizes */
    --font-size-base: 20px;
    --font-size-header: calc(var(--font-size-base) + 10px);
    --font-size-subheader: calc(var(--font-size-base) + 5px);
    --font-size-span: var(--font-size-subheader);
    --font-size-title: var(--font-size-base);
    --font-size-desc: calc(var(--font-size-base) - 5px);

    /* Link Styling */
    --color-link: var(--color-accent-light);
    --color-link-hover: var(--color-accent-dark);
    --transition-link-hover: 0.3s;

    /* Border Radius */
    --border-radius-base: 16px;
    --border-radius-small: calc(var(--border-radius-base) / 2);

    /* Margins and Spacing */
    --spacing-base: 10px;

    /* Background Colors */
    --color-bg-base: #fbf9f3;
    /* Light background */
    --color-bg-surface: #f0edea;
    /* Card/container background */
    --color-bg-overlay: #e6e3e0;
    /* Overlay elements */

    /* Primary Colors */
    --color-accent-light: #e46876;
    /* Soft pinkish accent */
    --color-accent-dark: #cc5f63;
    /* Slightly muted pink */
    --color-accent-extra: #f79a83;
    /* Coral accent */

    /* Text Colors */
    --color-text-primary: #2d2a36;
    /* Dark text */
    --color-text-secondary: #59546b;
    /* Muted gray text */
    --color-text-hover: #1c1a25;
    /* Darker hover text */
    --color-text-inverted: var(--color-accent-light);

    /* Accent Colors */
    --color-accent: var(--color-accent-light);

    /* Border Colors */
    --color-border: rgba(89, 84, 107, 0.3);

    /* Status Colors */
    --color-status-online: #4ba85e;
    /* Soft green */
    --color-status-dnd: #f46868;
    /* Soft pink/red */
    --color-status-idle: #e68a54;
    /* Muted orange */
    --color-status-offline: #86829f;
    /* Muted gray */

    /* Additional Background Colors */
    --color-bg-highlight: #f0ebe6;
    /* Background for highlights */
    --color-bg-muted: var(--color-bg-surface);
}


/* =================== Styling ==================== */

body {
    transition: filter 0.3s ease;
    color: var(--color-text-primary);
    background-color: var(--color-bg-base);
}

html {
    scroll-behavior: smooth;
    font-family: system-ui, sans-serif;
    opacity: 1;
}

body, .non-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none;    
}

.img-draggable {
    -webkit-user-drag: auto;
    pointer-events: auto; 
}

.activityPointerEventsAllow {
    pointer-events: auto; 
}

.main-content{
    margin: auto;
    justify-content: center;
    max-width: 1200px;
}

::selection{
    color: var(--color-text-inverted);
    background: var(--color-bg-muted);
}
::-moz-selection{
    color: var(--color-text-inverted);
    background: var(--color-bg-muted);
}

/* =================== Cursor ==================== */

#custom-cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-accent-light);
    /* Cursor color */
    /* mix-blend-mode: color-dodge; */
    pointer-events: none;
    z-index: 91;
    transition: transform 0.2s ease, background-color 0.2s ease, opacity 0.2s ease;
}

#custom-cursor-outline {
    position: absolute;
    width: 30px;
    /* Bigger size */
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--color-accent-light);
    /* Outline instead of background */
    /* mix-blend-mode: color-dodge; */
    pointer-events: none;
    z-index: 90;
    transition: transform 0.3s ease, opacity 0.2s ease;
}

/* =================== Custom Context Menu ==================== */

.context-menu {
    position: absolute;
    background-color: var(--color-bg-surface);
    outline: 2px solid var(--color-accent-light);
    outline-offset: 4px;
    border-radius: var(--border-radius-small);
    z-index: 89;
}

.context-menu__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    padding: 0;
}

.context-menu__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    color: var(--color-text-primary);
    text-decoration: none;
}

.context-menu__item:hover {
    background-color: var(--color-bg-overlay);
    border-radius: var(--border-radius-small);
}

.context-menu__hr {
    border: 1px solid var(--color-bg-base);
    margin: 4px 8px 4px 8px;
    padding: 0;
}

.copy-notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-accent);
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    z-index: 100;
    opacity: 0.9;
}

/* =================== Styling ==================== */

.link {
    gap: 5px;
    text-decoration: none;
    color: var(--color-link);
    /* Link color */
    transition: var(--transition-link-hover);
    white-space: nowrap;
}

.link:hover {
    color: var(--color-link-hover);
    /* Link hover color */
    text-decoration: underline;
}

.header {
    font-size: var(--font-size-header);
    font-weight: 600;
    text-align: center;
    margin: var(--spacing-base);
}

.text {
    text-align: center;
    color: var(--color-text-primary);
    /* Primary text color */
    font-size: var(--font-size-base);
}

.span-size {
    font-size: var(--font-size-span);
}

.body-text {
    margin-top: 15px;
    margin-bottom: 15px;
}

.fontsize {
    font-size: var(--font-size-header);
}

.span-color {
    color: var(--color-accent);
    /* Accent color for spans */
}

.span-color a {
    color: var(--color-accent);
    /* Accent color for links */
    text-decoration: none;
}

/* =================== PRESENCE ==================== */

.activity-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.activity {
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--color-bg-surface);
    /* Surface background color */
    border-radius: var(--border-radius-base);
    padding: 10px 15px;
    width: 312px;
    position: relative;
}
.activity::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; 
    height: 100%;
    background: linear-gradient(to left, var(--color-bg-surface), transparent);
    pointer-events: none;
}

.activityImage {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: var(--border-radius-small);
}

.activityDetailsContainer {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.activityName {
    margin: 2px 0;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-accent);
    /* Accent color */
}

.activityDetails,
.activityState,
.activityTimestamp {
    margin: 0;
}

/* =================== PROJECTS ==================== */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.project-title {
    font-size: var(--font-size-title);
    font-weight: 600;
    text-align: left;
    margin: 0;
    color: var(--color-accent);
    /* Accent color for project titles */
}

.project-desc {
    color: var(--color-text-secondary);
    /* Secondary text color */
    font-size: var(--font-size-desc);
    font-weight: 400;
    text-align: left;
    padding: 5px 0;
    margin: 0;
}

.project-hr {
    margin: 0;
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: 3px;
    background-color: var(--color-bg-base);
    /* Background color */
}

.project-details {
    margin-top: auto;
}

.project {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(25% - 20px);
    gap: 5px;
    align-items: left;
    justify-content: left;
    margin: 0.2rem;
    padding: 1rem;
    min-width: 330px;
    border-radius: var(--border-radius-base);
    background: var(--color-bg-surface);
    /* Surface background color */
    transition: 0.2s ease;
}

.project:hover {
    translate: 0 -10px;
    filter: drop-shadow(0 4px 6px var(--color-bg-surface));
}

.project-links {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: left;
    justify-content: left;
    padding: 5px 0;
    max-width: fit-content;
    border-radius: var(--border-radius-base);
}

/* =================== PC SPECIFICATION ==================== */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.container-item {
    flex: 1 1 calc(25% - 20px);
    display: flex;
    gap: 10px;
    min-width: 312px;
    flex-direction: row;
    border-radius: var(--border-radius-base);
    background-color: var(--color-bg-surface);
    /* Surface background color */
    padding: 1rem;
    margin: 0.2rem;
    transition: 0.2s ease;
}

.container-item:hover {
    translate: 0 -10px;
    filter: drop-shadow(0 4px 6px var(--color-bg-surface));
}

.img {
    width: 100px;
    height: 100px;
    border-radius: var(--border-radius-small);
    object-fit: cover;
    margin: 0;
}

.item-title {
    font-size: var(--font-size-title);
    font-weight: 600;
    text-align: left;
    margin: 0;
    color: var(--color-accent);
    /* Accent color */
}

.item-desc {
    color: var(--color-text-secondary);
    /* Secondary text color */
    font-size: var(--font-size-desc);
    text-align: left;
    margin: 0;
}

/* =================== NAVBAR ==================== */

.vorlie {
    max-width: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s ease-in-out;

    &:hover {
        filter: drop-shadow(0 0px 4px var(--color-accent-light));
    }
}

.subcolor {
    color: var(--color-text-hover) !important;
    /* Hover text color */
}

.subcolor:hover {
    color: var(--color-accent-extra) !important;
    /* Secondary hover text color */
}

#avatar {
    margin-left: 5px;
    margin-right: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-status-offline);
    /* Offline status color; fallback */
}

#avatar-deco {
    position: absolute;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    pointer-events: none;
    object-fit: cover;
}

.lanyard {
    text-decoration: none;
    color: inherit;
}

.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-bg-surface);
    /* Surface background color */
    border-radius: var(--border-radius-base);
    padding: 10px;
    overflow-x: auto;
}

.navbar-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-items {
    display: flex;
    gap: 15px;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 5px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--color-accent-light);
    /* Main link color */
    padding: 8px;
    border-radius: var(--border-radius-base);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    white-space: nowrap;
    flex-shrink: 0;

    &:hover {
        color: var(--color-accent-extra);
        filter: drop-shadow(0 0px 4px var(--color-accent-extra));
    }
}

.theme-toggle{
    text-decoration: none;
    color: var(--color-accent-light);
    /* Main link color */
    padding: 8px;
    background: none;
    border: none;
    border-radius: var(--border-radius-base);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    &:hover {
        cursor:pointer;
        color: var(--color-accent-extra);
        filter: drop-shadow(0 0px 4px var(--color-accent-extra));
    }
}

#nav-hamburger {
    display: none;
}

.fontsize2 {
    font-size: 40px;
}

.hamburger-menu {
    background: var(--color-bg-surface);
    /* Surface background color */
    padding: 10px;
    position: absolute;
    z-index: 1000;
    border-radius: var(--border-radius-base);
    border: none;
    opacity: 0;
    /* Start hidden */
    visibility: hidden;
    /* Start hidden */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /* Fade in/out transitions */
    display: block;
}

.hamburger-menu.visible {
    opacity: 1;
    visibility: visible;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* =================== FOOTER ==================== */
.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-bg-surface);
    /* Surface background color */
    border-radius: var(--border-radius-base);
    padding: 10px;
    margin-top: var(--spacing-base);
}

.footer-container {
    display: flex;
}

.footer-hr {
    width: 100%;
    margin: 5px 0;
    border: 0;
    border-radius: 5px;
    height: 3px;
    background-color: rgba(253, 213, 221, 0.5);
}

.footer-inner-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    width: 125px;
}

.footer-text {
    font-size: var(--font-size-base);
    margin: 0 0 5px 0;
}

.discordbot,
.social {
    align-items: center;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* =================== MEDIA QUERIES ==================== */

@media (max-width: 768px) {

    #custom-cursor,
    #custom-cursor-outline {
        display: none !important;
    }

    .activity-container {
        text-align: left;
        flex-direction: column;
        margin: 10px auto;
        padding: 10px;
        max-width: 100%;
    }

    .buttons {
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .container-item {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .projects {
        justify-content: center;
    }

    .project {
        flex: 1 1 100%;
        max-width: 100%;
        padding: 0.9rem;
    }

    .nav-items {
        display: none;
    }

    #nav-hamburger {
        display: block;
        color: var(--color-accent-light);
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        transition: 0.3s ease;

        &:hover {
            color: var(--color-accent-extra);
        }
    }
}