:root {
    /* Variables */
    --body-display: flex;
    --body-flex-direction: column;
    --body-height: 100vh;
    --body-margin: 0;
    --body-font-family: Arial, sans-serif;
    --body-background-color: var(--color-bg-dark-alpha);
    --body-color: var(--color-text);

    --hover-transition: 0.2s ease;

    --titlebar-bg-color: var(--color-bg-medium-alpha);
    --titlebar-padding: 10px;
    --titlebar-color: var(--color-text);
    --titlebar-border-bottom: 1px solid var(--color-border);
    --titlebar-actions-margin-right: 130px;
    --titlebar-display: flex;
    --titlebar-align-items: center;
    --titlebar-justify-content: space-between;

    --search-bar-padding: 10px;
    --search-bar-margin-right: 5px;
    --search-bar-margin-bottom: 10px;
    --search-bar-border-radius: 8px;
    --search-bar-border: 1px solid var(--color-border);
    --search-bar-bg-color: var(--color-bg-medium-alpha);
    --search-bar-color: var(--color-text);
    --search-bar-placeholder-color: var(--color-placeholder);

    --dropdown-padding: 2px;
    --dropdown-margin-right: 2px;
    --dropdown-border-radius: 5px;
    --dropdown-border: 1px solid var(--color-border);
    --dropdown-bg-color: var(--color-bg-medium-alpha);
    --dropdown-color: var(--color-text);
    --dropdown-font-size: 14px;

    --main-content-display: flex;
    --main-content-flex: 1;
    --main-content-height: calc(100vh - var(--titlebar-padding) * 2 - var(--titlebar-border-bottom));

    --sidebar-width: 35%;
    --sidebar-max-width: 400px;
    --sidebar-bg-color: var(--color-bg-darker-alpha);
    --sidebar-border-right: 1px solid var(--color-border);
    --sidebar-spacing: 10px;
    --sidebar-radius: 10px;
    --sidebar-box-sizing: border-box;
    --sidebar-overflow-y: auto;
    --sidebar-height: 100%;
    --sidebar-button-padding: 3px 6px 3px 6px;

    --note-list-padding: 0;
    --note-list-margin: 5px;
    --note-list-item-margin-right: 3px;
    --note-list-item-padding: 10px;
    --note-list-item-border: 1px solid transparent;
    --note-list-item-border-selected: 1px solid var(--color-border);
    --note-list-item-cursor: pointer;
    --note-list-item-position: relative;
    --note-list-item-hover-bg-color: var(--color-hover);
    --note-list-item-selected-bg-color: var(--color-bg-medium-alpha);
    --note-list-item-background-color: var(--color-bg-dark-alpha);

    --note-title-font-size: 1em;
    --note-title-display: block;
    --note-date-font-size: 0.8em;
    --note-date-display: block;
    --note-date-color: var(--color-placeholder);
    --note-date-margin-top: 5px;

    --note-actions-display: none;
    --note-actions-position: absolute;
    --note-actions-right: 10px;
    --note-actions-top: 10px;
    --note-actions-button-margin-right: 5px;

    --button-bg-color: var(--color-bg-medium);
    --button-bg-color-hover: var(--color-hover-light);
    --button-color: var(--color-text);
    --button-border-color: var(--color-border);
    --button-border-radius: 5px;
    --titlebar-button-padding: 6px;
    --button-padding: 6px;
    --button-padding-2: 4.2px;

    --editor-bg-color: var(--color-bg-darker-alpha);
    --editor-font-family: var(--body-font-family);
    --editor-text-color: var(--color-text);
    --editor-border: none;
    --editor-resize: none;
    --editor-outline: none;
    --editor-font-size: 16px;
    --editor-overflow-y: auto;
    --editor-spacing: 10px;

    --scrollbar-bg-color: var(--color-scrollbar-bg);
    --scrollbar-thumb-bg-color: var(--color-scrollbar-thumb);
    --scrollbar-thumb-hover-bg-color: var(--color-scrollbar-thumb-hover);

    --edit-title-input-bg-color: var(--color-bg-light-alpha);
    --edit-title-input-color: var(--color-text);
    --edit-title-input-border: 1px solid var(--color-border);
    --edit-title-input-border-radius: 5px;
    --edit-title-input-padding: 5px;
    --edit-title-input-width: 80%;
    --edit-title-input-fontsize: 14px;

    --modal-bg-color: rgba(0, 0, 0, 0.4);
    
    --modal-content-border-radius: 10px;
    --modal-content-bg-color: var(--color-bg-dark);
    --modal-content-margin: 10% auto;
    --modal-content-padding: 20px;
    --modal-content-border: 1px solid var(--color-border);
    --modal-content-width: 80%;
    --modal-content-max-width: 600px;
    --modal-content-settings-max-width: 700px;

    --modal-close-color: var(--color-text);
    --modal-close-font-size: 28px;
    --modal-close-font-weight: bold;
    --modal-close-hover-color: var(--color-close-hover);

    --modal-export-item-bg-color: var(--color-bg-medium-alpha);
    --modal-export-item-color: var(--color-text);
    --modal-export-item-padding: 10px;
    --modal-export-item-border-bottom: 1px solid var(--color-border);
    --modal-export-item-hover-bg-color: var(--color-hover);
    --modal-export-item-cursor: pointer;
    --modal-export-item-border-radius: 8px;
    --modal-export-item-margin-bottom: 5px;
    --modal-export-item-margin-right: 3px;
    --modal-export-item-border: 1px solid var(--color-border);

    --updater-background-color: var(--color-bg-dark);
    --updater-text-color: var(--color-text);
    --updater-text-download-color: var(--color-button-download-text);
    --updater-button-background-color: var(--color-bg-medium-alpha);
    --updater-button-hover-background-color: var(--color-hover-light);
    --updater-button-download-background-color: var(--color-button-download);
    --updater-button-download-hover-background-color: var(--color-button-download-hover);
    --updater-padding: 15px;
    --updater-border-radius: 8px;
    --updater-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    --updater-z-index: 1000;
    --updater-margin-top: 10px;
    --updater-padding-small: 5px 10px;
    --updater-border: 1px solid var(--color-border);
}

.body-notepad {
    display: var(--body-display);
    flex-direction: var(--body-flex-direction);
    height: var(--body-height);
    margin: var(--body-margin);
    font-family: var(--body-font-family);
    background-color: var(--body-background-color);
    color: var(--body-color);
    overflow: hidden;
    height: 840px;
}

.titlebar-notepad {
    /*background-color: var(--titlebar-bg-color);*/
    /*border-bottom: var(--sidebar-border-right);*/
    padding: var(--titlebar-padding);
    color: var(--titlebar-color);
    display: var(--titlebar-display);
    justify-content: var(--titlebar-justify-content);
    align-items: var(--titlebar-align-items);
}

.titlebar-branding-notepad {
    display: var(--titlebar-display);
    align-items: var(--titlebar-align-items);
}

.titlebar-icon-notepad {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 25%;
}

.titlebar-actions-notepad {
    margin-right: var(--titlebar-actions-margin-right);
    display: var(--titlebar-display);
    align-items: var(--titlebar-align-items);
}

.titlebar-h2-notepad{
    margin: 0;
}

.search-bar-notepad {
    padding: var(--search-bar-padding);
    border-radius: var(--search-bar-border-radius);
    border: var(--search-bar-border);
    background-color: var(--search-bar-bg-color);
    color: var(--search-bar-color);
    margin-bottom: var(--search-bar-margin-bottom);
    width: calc(100% - 0.3 * var(--sidebar-spacing));
    box-sizing: border-box;
    margin-bottom: var(--search-bar-margin-bottom);
}


.search-bar-notepad::placeholder {
    color: var(--search-bar-placeholder-color);
}

.main-content-notepad {
    display: var(--main-content-display);
    flex: var(--main-content-flex);
    height: var(--main-content-height);
    overflow: hidden;
}

.sidebar-notepad {
    width: var(--sidebar-width);
    max-width: var(--sidebar-max-width);
    overflow-y:hidden;
    margin: 0 var(--editor-spacing) var(--editor-spacing) var(--editor-spacing);
    border-radius: var(--sidebar-radius);
    background-color: var(--sidebar-bg-color);
    padding: var(--sidebar-spacing);
    box-sizing: var(--sidebar-box-sizing);
}

.sidebar-header-notepad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-notepad {
    padding: var(--dropdown-padding);
    margin-right: var(--dropdown-margin-right);
    border-radius: var(--dropdown-border-radius);
    border: var(--dropdown-border);
    background-color: var(--dropdown-bg-color);
    color: var(--dropdown-color);
    font-family: var(--body-font-family);
    font-size: var(--dropdown-font-size);
    outline: none;
    transition: var(--hover-transition);
}

.dropdown-notepad:hover {
    background-color: var(--button-bg-color-hover);
}

.dropdown-notepad option {
    background-color: var(--dropdown-bg-color);
    color: var(--dropdown-color);
}

.settings-inputs-notepad {
    display: flex;
    align-items: center; 
    margin-bottom: 5px;
    margin: 0;
}

.settings-inputs-notepad .settings-label-notepad {
    margin: 0;
    margin-right: 10px; 
}

.settings-dropdown-notepad {
    flex: 1;
    margin-top: 8px;
}

.header-h2-notepad {
    margin: 0;
}

.note-list-notepad {
    list-style-type: none;
    padding: var(--note-list-padding);
    margin: 0;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.note-list-notepad li {
    border-radius: var(--sidebar-radius);
    padding: var(--note-list-item-padding);
    background-color: var(--note-list-item-background-color);
    cursor: var(--note-list-item-cursor);
    position: var(--note-list-item-position);
    margin-bottom: var(--note-list-margin);
    transition: var(--hover-transition);
    border: var(--note-list-item-border);
    margin-right: var(--note-list-item-margin-right);
}

.note-list-notepad li:hover {
    background-color: var(--note-list-item-hover-bg-color);
}

.note-list-notepad li.selected-notepad {
    background-color: var(--note-list-item-selected-bg-color);
    border: var(--note-list-item-border-selected);
}

.note-actions-notepad {
    display: var(--note-actions-display);
    position: var(--note-actions-position);
    right: var(--note-actions-right);
    top: var(--note-actions-top);
    transition: var(--hover-transition);
}

.note-list-notepad li:hover .note-actions-notepad, .note-list-notepad li.selected-notepad .note-actions-notepad {
    display: block;
}

.note-title-notepad {
    display: var(--note-title-display); 
    font-size: var(--note-title-font-size);
}

.note-date-notepad, .note-modified-notepad {
    display: var(--note-date-display); 
    font-size: var(--note-date-font-size);
    color: var(--note-date-color);
    margin-top: var(--note-date-margin-top);
}

.sidebar-header-notepad .button-notepad {
    margin-right: var(--note-actions-button-margin-right);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    font-size: 14px;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
    transition: var(--hover-transition);
    padding: var(--sidebar-button-padding);
}

.titlebar-actions-notepad .button-notepad{
    padding: var(--titlebar-button-padding);
    margin-right: var(--note-actions-button-margin-right);
    background-color: var(--button-bg-color);
    color: var(--button-color);
    font-size: 14px;
    border-radius: var(--button-border-radius);
    border: 1px solid var(--button-border-color);
    transition: var(--hover-transition);
}

.button-notepad:hover {
    background-color: var(--button-bg-color-hover);
}

.editor-notepad {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--editor-bg-color);
    color: var(--editor-text-color);
    overflow: hidden;
    margin: 0 var(--editor-spacing) var(--editor-spacing) 0;
    border-radius: var(--sidebar-radius);
}

.editor-notepad textarea {
    font-family: var(--editor-font-family);
    background-color: transparent;
    color: var(--editor-text-color);
    width: 100%;
    height: 95%;
    border: var(--editor-border);
    resize: var(--editor-resize);
    outline: var(--editor-outline);
    font-size: var(--editor-font-size);
    overflow-y: var(--editor-overflow-y);
}

.editor-notepad .status-notepad{
    margin: 0;
    padding: 5px;
    background-color: var(--color-bg-dark-alpha);
    color: var(--color-text);
    font-size: 14px;
    width: fit-content;
    text-align: left;
    border-radius: 5px;
}

.edit-title-input-notepad {
    width: var(--edit-title-input-width);
    padding: var(--edit-title-input-padding);
    font-size: var(--edit-title-input-fontsize);
    color: var(--edit-title-input-color);
    border: var(--edit-title-input-border);
    border-radius: var(--edit-title-input-border-radius);
    background-color: var(--edit-title-input-bg-color);
}

.edit-title-input-notepad:focus, .search-bar-notepad:focus {
    outline: none;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg-color);
    border-radius: 10px;
    border: 3px solid var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-bg-color);
}

