.presence-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

@media (max-width: 768px) {
    .header{
        text-align: center;
    }
    .presence-container {
        text-align: left;
        flex-direction: column;
        margin: 10px auto;
        padding: 10px;
        max-width: 100%;
    }
}