
#home{
    color: var(--color-2);
    text-decoration: underline;
    transition: 0.3s ease;
    &:hover {
        color: var(--acolor-3);
    }
}

.link {
    text-decoration: none;
    color: var(--accent-gradient);
    transition: 0.2s ease;

    &:hover {
        color: var(--color-text-hover);
        text-decoration: underline;
    }
}

.text {
    text-align: center;
    color: var(--color-text);
    font-size: 20px;
}
.span-size {
    font-size: 25px;
}
.header-text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: auto;
}
.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 15px auto;
}
.fontsize{
    font-size: 30px;
}
.buttons a {
    display: flex;
    gap: 10px;
    text-decoration: none;
    padding: 10px 20px;
    color: var(--color-text);
    transition: 0.2s ease;
    align-items: center;
    background-color: var(--color-main-background-secondary);
    border-radius: var(--roundness);
}
.buttons a:hover {
    color: var(--color-text-hover);
}
.span-color {
    color: var(--accent-gradient);
}
.span-color a {
    color: var(--accent-gradient);
    text-decoration: none;
}

@media (max-width: 768px) {

    .buttons {
        justify-content: center;

        flex-wrap: wrap;
        margin: 0 auto;
    }
}