.link {
    text-decoration: none;
    color: var(--accent-gradient);
    transition: 0.2s ease;

    &:hover {
        color: var(--color-text-hover);
        text-decoration: underline;
    }
}

.main {
    text-align: left;
    justify-content: left;
    max-width: 100%;
}

.text {
    color: var(--color-text);
    font-size: 20px;
}

.span-size {
    font-size: 25px;
}

.header-text {
    margin: 0;
    font-size: 35px;
    padding-bottom: 5px;
    font-weight: bold;
}

.header-text-sec {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin: auto;
}

.body-text {
    margin: 0;
    max-width: 95%;
}

.body-text p {
    margin: 0 0 10px;
}

.bi {
    font-size: 40px;
}

.svg_color {
    fill: var(--color-text);
    width: 50px;
    height: 50px;
    transition: 0.2s ease;

    &:hover {
        fill: var(--color-text-hover);
    }
}

.buttons {
    display: flex;
    gap: 10px;
    align-items: left;
    justify-content: left;
    max-width: fit-content;
    margin: auto 0;
}

.buttons a {
    text-decoration: none;
    padding: 10px;
    color: var(--color-text);
    transition: 0.2s ease;
}

.buttons a:hover {
    color: var(--color-text-hover);
}

.span-color {
    color: var(--accent-gradient);
}

.span-color a {
    color: var(--accent-gradient);
    text-decoration: none;
}

@media (max-width: 768px) {
    .main {
        text-align: center;
        padding: 10px;
    }

    .header-text-sec {
        text-align: center;
    }

    .audioPlayer {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .buttons {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
    }
}