.vorlie {
    max-width: fit-content;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 0.3s ease-in-out;
}
#avatar {
    margin-left: 5px;
    margin-right: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid transparent;
}

#avatar-deco {
    position: absolute;
    margin-right: 10px;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    pointer-events: none;
    -o-object-fit: cover;
    object-fit: cover;
}
.status {
    margin-top: 10px;
    display: flex;
    padding: 4px;
    border-radius: var(--roundness-2);
    background: var(--color-main-background-secondary);
}
.lanyard {
    text-decoration: none;
    color: inherit;
}
.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--color-main-background-secondary);
    border-radius: var(--roundness);
    padding: 10px;
    overflow-x: auto;
}

.navbar-inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-items {
    display: flex;
    gap: 15px;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 5px; 
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--color-1);
    padding: 8px;
    border-radius: var(--roundness);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    white-space: nowrap; 
    flex-shrink: 0;
    &:hover {
        color: var(--acolor-3);
    }
}

@media (max-width: 768px) {
    .nav-items {
        gap: 1px;
        padding: 0 5px; 
    }
}