#specs{
    color: var(--color-2);
    text-decoration: underline;
    transition: 0.3s ease;
    &:hover {
        color: var(--acolor-3);
    }
}
.main {
    text-align: left;
    justify-content: center;
    max-width: 100%;
}
.header-text {
    margin: 0;
    text-align: center;
    font-size: 30px;
    padding-bottom: 5px;
    font-weight: bold;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px; 

    margin: 0;
}

.container-item{
    display: flex;
    gap: 10px;
    flex-direction: row;
    border-radius: var(--roundness);
    background-color: var(--color-main-background-secondary);
    padding: 1rem;
    margin: 0.2rem;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: var(--roundness);
    object-fit: cover;
}
.item-title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    color: var(--color-text);
}
.item-desc{
    color: var(--color-text-secondary);
    font-size: 15px;
    text-align: left;
    margin: 0;
}
.link{
    text-decoration: none;
    color: var(--accent-gradient);
    transition: 0.2s ease;
    &:hover{
        color: var(--color-text-hover);
        text-decoration: underline;
    }
}
@media (max-width: 768px){
    .header-text{
        text-align: center;
    }
    .container{
        grid-template-columns: 1fr;
    }
}