.header-text{
    margin: 0;
    font-size: 30px;
    color: var(--color-text);
    padding-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
.projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

    justify-content: center;
    margin: 0;
    padding: 5px;
    max-width: fit-content;
}
.project-title{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 5px;
    color: var(--color-text);
}
.project-desc{
    color: var(--color-text-secondary);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    padding: 5px;
}
.project{
    display: flex;
    flex-direction:column;
    gap: 5px;
    align-items: left;
    justify-content: left;
    margin: 0;
    padding: 5px;
    width: 300px;
    border-radius: var(--roundness);
    padding: 20px;
    background: var(--color-main-background-secondary);
}
.project-links{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: left;
    justify-content: left;
    margin: 0;
    padding: 5px;
    max-width: fit-content;
    border-radius: var(--roundness);
}
.link{
    background: var(--color-main-background-secondary);
    padding: 10px;
    border-radius: var(--roundness);
    text-decoration: none;
    color: var(--color-2);
    transition: 0.2s ease;
    &:hover{
        color: var(--color-text-hover);
        background: var(--color-main-background);
    }
}
@media (max-width: 768px) {
    .projects{
        justify-content: center;
    }
    .header-text{
        text-align: center;
        margin: 0;
        padding: 10px;
    }
}