---
import Layout from '../layouts/Layout.astro';
import "../styles/globals.css";
---

<Layout title="Astro error 404" description="Page not found">
    <main class="center">
      <h1><span class="span-color">404: </span> <span class="statusMessage">Not found</span></h1>
      <a class="link" href="/">Go back</a>
    </main>
</Layout>