---
import Layout from '../layouts/Layout.astro';
import '../styles/Fonts.css';
---

<Layout title="Vorlie | Fonts" description='Fonts for https://github.com/pyoncord/Bunny'>
    <div class="main">
        <p class="header-text">Fonts for <a href="https://github.com/pyoncord/Bunny">Bunny</a></p>
        <div class="container">
            <div class="column">
                <h2 class="title-secondary">Helvetica Neue</h2>
                <p class="text">While it works, the chat messages look bad.<br>It's most likely because how the font looks like.</p>
                <a class="link" href="https://raw.githubusercontent.com/vorlie/Theme-Fonts/main/HelveticaNeue-fonts.json">Open this link and copy it</a>
                <h3 class="commit">
                    <p class="text-secondary">Latest commit:
                    <a class="link" href="https://github.com/vorlie/Theme-Fonts/commit/862781307961256aa3a15fd460c40903ec138e44">
                        8627813
                    </a></p>
                </h3>
                <div class="nested-container">
                    <div class="nested-column">
                        <a href="/previews/preview1.jpg" target="_blank">
                            <img class="preview img-draggable " src="/previews/preview1.jpg" alt="HelveticaNeue-image" />
                        </a>
                    </div>
                    <div class="nested-column">
                        <a href="/previews/preview2.jpg" target="_blank">
                            <img class="preview img-draggable " src="/previews/preview2.jpg" alt="HelveticaNeue-image" />
                        </a>
                    </div>
                    <div class="nested-column">
                        <a href="/previews/preview3.jpg" target="_blank">
                            <img class="preview img-draggable " src="/previews/preview3.jpg" alt="HelveticaNeue-image" />
                        </a>
                    </div>
                    <div class="nested-column">
                        <a href="/previews/preview4.jpg" target="_blank">
                            <img class="preview img-draggable " src="/previews/preview4.jpg" alt="HelveticaNeue-image" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="column">
                <h2 class="title-secondary">Coming soon</h2>
                <p class="text">
                    I will try to add more fonts in the future.
                    <br>Here are links to more fonts that other people added for <a class="link" href="https://github.com/pyoncord/Bunny">Bunny</a>.</p>
                <div class="nested-container">
                    <div class="nested-column">
                        <a class="link-secondary" href="https://github.com/Rairof/Theme-Fonts">Repository</a>
                        <a class="link-secondary" href="https://rairof.github.io/Theme-Fonts">Website</a>
                    </div>
                </div>
                <div class="website-preview-container">
                    <a href="https://rairof.github.io/Theme-Fonts"><img class="website-preview img-draggable" src="/previews/rairof-github-io-1024x768desktop-8816de.jpg" alt="Website Preview"></a>
                </div>
            </div>
        </div>
    </div>
</Layout>
