---
import Layout from "../layouts/Layout.astro";

import { PCSpecification } from "../components/react/PCSpecification";
import { ProjectsPage } from '../components/react/ProjectsPage';
---

<Layout title="Vorlie | Home" description="A place to my social media and stuff">
    <div class="text">
        <h1 class="header">
            Hey there! I'm <span class="span-color">Charlie</span>, nice to meet you.
        </h1>
        <p class="body-text">
            I like to code random things that no one asked for. I sometimes play games. I listen to a lot of Frenchcore. Before you ask, I'm okay.<br>
            I also like to watch anime. My favorite anime is <span class="span-color">Bleach</span>, <span class="span-color">86: Eighty Six</span> and ekhem <span class="span-color">High School DxD</span>.
            <br><br>
            When I'm not coding, you might catch me listening to some 
            <span class="span-color">music</span>, playing <span class="span-color">games</span> or watching <span class="span-color">anime</span>.
            <br><br>
            Feel free to check out my projects or reach out if you'd like to collaborate.<br>
            I know: <span class="span-color">TypeScript</span> (some of it), <span class="span-color">Python</span>, <span class="span-color">HTML/CSS/JS</span>, <span class="span-color">Astro/React</span> (some of it).
        </p>
    </div> 
    <div class="activity-container">
    </div>
    <ProjectsPage />
    <PCSpecification />
    <!-- Need to make it better later.
    <div class="footer">
        <div class="footer-container">
            <div class="footer-inner-container social">
                <p class="footer-text">Socials</p>
                <hr class="footer-hr">
                <div class="footer-links">
                    <a href="#" class="link">Discord</a>
                    <a href="#" class="link">GitHub</a>
                    <a href="#" class="link">YouTube</a>
                </div>
            </div>
            <div class="footer-inner-container discordbot">
                <p class="footer-text">Miko</p>
                <hr class="footer-hr">
                <div class="footer-links">
                    <a href="/miko/terms-of-service" class="link">Terms of Service</a>
                    <a href="/miko/privacy-policy" class="link">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    -->
</Layout>