---
import Layout from "../layouts/Layout.astro";
import Lanyard from "../components/Lanyard.astro";
import AudioVisualizer from "../components/AudioVisualizer.astro";
import "../styles/Main.css";
---

<Layout title="Vorlie | Home" description="A place to my social media and stuff">
    <div class="main">
        <div class="text">
            <p class="header-text">
                Hey there! I'm <span class="span-color">Charlie</span>, nice to meet you.
            </p>
            <p class="body-text">
                I like to code random things that no one asked for. I sometimes play games. I listen to a lot of Frenchcore. Before you ask, I'm okay.
                I also like to watch anime. My favorite anime is <span class="span-color">Bleach</span>, <span class="span-color">86: Eighty Six</span> and ekhem <span class="span-color">High School DxD</span>.
            </p>
            <!-- 
            <div class="buttons">
                <a href="https://youtube.com/@vve1_"><i class="bi bi-youtube fontsize"></i> YouTube</a>
                <a href="https://github.com/vorlie"><i class="bi bi-github fontsize"></i>GitHub</a>
                <a href="https://discord.gg/ujYCjUwu6U"><i class="bi bi-discord fontsize"></i>Discord</a>
            </div>
            -->
        </div> 
        <p class="header-text">What I am currently doing:</p>
        <Lanyard />
    </div>
</Layout>