---
import Layout from "../layouts/Layout.astro";

import { PCSpecification } from "../components/react/PCSpecification";
import { ProjectsPage } from '../components/react/ProjectsPage';
---

<Layout title="Vorlie | Home" description="A place to my social media and stuff">
    <div class="text">
        <div class="text-container">
            <h1 class="header header-text">
                Greetings, Earthlings! I'm <span class="span-color">Charlie</span>, your friendly neighborhood coder.
            </h1>
            <p class="body-text">
                I enjoy crafting quirky code snippets that nobody asked for—like a mad scientist of programming! When I'm not conjuring digital magic, you’ll find me gaming or jamming to the energetic beats of Frenchcore. 
                And in case you're wondering, I'm doing just fine—thank you for your concern!<br><br>
                Oh, and let's not forget my guilty pleasure: anime! Some of my all-time favorites include <span class="span-color">Bleach</span>, 
                <span class="span-color">86: Eighty Six</span>, and <span class="span-color">High School DxD</span>. Prepare for epic battles and plot twists galore!
            </p>
        </div>
    
        <div class="text-container">
            <p class="body-text">
                When I'm not glued to my screen coding, you might find me lost in the world of <span class="span-color">music</span>, conquering virtual realms in <span class="span-color">games</span>, or binge-watching <span class="span-color">anime</span>.
                <br><br>
                If you're looking for a coding sidekick or just want to chat about the anime plot twist, I'm all ears!
                <br><br> 
                I'd love for you to explore my <a class="link underline" href="#projects">projects</a>, and who knows—we might even create something awesome together!
            </p>
    
            <p class="body-text">In my coding toolbox, I wield:</p>
            <ul class="skills-list">
                <li><span class="span-color"><i class="nf-md-language_typescript"></i> TypeScript</span> (partially, but hey, who's counting?)</li>
                <li><span class="span-color"><i class="nf-fae-python"></i> Python</span> (the snake, not the film!)</li>
                <li><span class="span-color"><i class="nf-md-language_html5"></i> HTML</span> (the foundation of the web)</li>
                <li><span class="span-color"><i class="nf-md-language_css3"></i> CSS</span> (making things pretty since forever)</li>
                <li><span class="span-color"><i class="nf-md-language_javascript"></i> JavaScript</span> (the magic behind interactivity)</li>
                <li><span class="span-color"><i class="nf-custom-astro"></i> Astro</span> (for faster websites and fun)</li>
                <li><span class="span-color"><i class="nf-fa-react"></i> React</span> (with React being my sidekick in this superhero duo)</li>
            </ul>
        </div>
    </div>
    
    <div class="activity-container">
    </div>
    <ProjectsPage />
    <PCSpecification />
    <!-- Need to make it better later.
             <p class="body-text">
            I like to code random things that no one asked for. I sometimes play games. I listen to a lot of Frenchcore. Before you ask, I'm okay.<br>
            I also like to watch anime. My favorite anime is <span class="span-color">Bleach</span>, <span class="span-color">86: Eighty Six</span> and ekhem <span class="span-color">High School DxD</span>.
            <br><br>
            When I'm not coding, you might catch me listening to some 
            <span class="span-color">music</span>, playing <span class="span-color">games</span> or watching <span class="span-color">anime</span>.
            <br><br>
            Feel free to check out my projects or reach out if you'd like to collaborate.<br>
            I know: <span class="span-color">TypeScript</span> (some of it), <span class="span-color">Python</span>, <span class="span-color">HTML/CSS/JS</span>, <span class="span-color">Astro/React</span> (some of it).
        </p>
    <div class="footer">
        <div class="footer-container">
            <div class="footer-inner-container social">
                <p class="footer-text">Socials</p>
                <hr class="footer-hr">
                <div class="footer-links">
                    <a href="#" class="link">Discord</a>
                    <a href="#" class="link">GitHub</a>
                    <a href="#" class="link">YouTube</a>
                </div>
            </div>
            <div class="footer-inner-container discordbot">
                <p class="footer-text">Miko</p>
                <hr class="footer-hr">
                <div class="footer-links">
                    <a href="/miko/terms-of-service" class="link">Terms of Service</a>
                    <a href="/miko/privacy-policy" class="link">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    -->
</Layout>