---
import Layout from "../layouts/Layout.astro";
import Lanyard from "../components/Lanyard.astro";
import AudioVisualizer from "../components/AudioVisualizer.astro";
import "../styles/Main.css";
---

<Layout title="Vorlie | Home" description="A place to my social media and stuff">
    <div class="main">
        <div class="text">
            <p class="header-text">
                Hey there! I'm <span class="span-color">Charlie</span>, an incompetent dev
            </p>
            <div class="body-text">
                <p>
                  I'm a 18 year old idiot who likes to make websites and code discord bots. I'm currently learning <span class="span-color">TypeScript</span>. 
                  I know <span class="span-color">Python</span>, <span class="span-color">HTML/CSS</span>, <span class="span-color">Astro</span>.
                  <br>I like to watch anime. My favourite anime(s) are <span class="span-color">Bleach</span> and <span class="span-color">86: Eighty Six</span>. 
                  <br>
                </p>
            </div>
        </div>
        <AudioVisualizer />
        <Lanyard />
        <p class="header-text-sec">Socials</p>
        <div class="links">
            <div class="buttons">
                <a href="https://www.faceit.com/en/players/vorlie"><svg class="svg_color"  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="32px" height="32px"><path d="M 5 5 L 5 6 L 5 27 L 27 27 L 27 5 L 5 5 z M 7 7 L 25 7 L 25 25 L 7 25 L 7 7 z M 22 10 L 18 16 L 9 16 L 22 21 L 22 10 z"/></svg></a>
                <a href="https://youtube.com/@vve1_"><i class="bi bi-youtube"></i></a>
                <a href="https://github.com/vorlie"><i class="bi bi-github"></i></a>
                <a href="https://discord.gg/ujYCjUwu6U"><i class="bi bi-discord"></i></a>
            </div>
        </div>  
    </div>
</Layout>