---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Vorlie | My PC Specification">
    <div class="main">
        <p class="header-text">My PC Specification</p>
        <div class="container">
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://m.media-amazon.com/images/I/81b75EQJrgL._AC_SL1500_.jpg" alt="cpu image">
                </div>
                <div class="item-details">
                    <p class="item-title">CPU</p>
                    <p class="item-desc">AMD Ryzen 5 3600</p>
                    <a class="link" href="https://www.amazon.com/dp/B07STGGQ18" target="_blank">Buy on Amazon</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://cdn.x-kom.pl/i/setup/images/prod/big/product-new-big,,2020/4/pr_2020_4_29_14_30_1_600_11.jpg" alt="cpu cooler image">
                </div>
                <div class="item-details">
                    <p class="item-title">CPU Cooler</p>
                    <p class="item-desc">SilentiumPC Spartan 4 MAX</p>
                    <a class="link" href="https://www.x-kom.pl/p/562914-chlodzenie-procesora-silentiumpc-spartan-4-max-120mm.html" target="_blank">See on x-kom</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://m.media-amazon.com/images/S/aplus-media/vc/baf493e7-aaf1-4a52-88f1-8ccb8344545a.__CR0,0,300,400_PT0_SX300_V1___.jpg" alt="motherboard image">
                </div>
                <div class="item-details">
                    <p class="item-title">Motherboard</p>
                    <p class="item-desc">ASUS Prime B450M-A II</p>
                    <a class="link" href="https://www.amazon.com/dp/B08KH12V25" target="_blank">Buy on Amazon</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://m.media-amazon.com/images/I/81yBmcZTERL._AC_SL1500_.jpg" alt="gpu image">
                </div>
                <div class="item-details">
                    <p class="item-title">GPU</p>
                    <p class="item-desc">ASUS DUAL OC V2 Radeon RX 7600 8GB</p>
                    <a class="link" href="https://www.amazon.com/dp/B0C7JP2SQ2" target="_blank">Buy on Amazon</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://cdn.x-kom.pl/i/setup/images/prod/big/product-new-big,,2017/7/pr_2017_7_21_9_20_19_508.jpg" alt="ram image">
                </div>
                <div class="item-details">
                    <p class="item-title">RAM</p>
                    <p class="item-desc">Corsair Vengeance LPX 16 GB (2 x 8 GB) DDR4-3200 CL16</p>
                    <a class="link" href="https://www.amazon.com/dp/B0143UM4TC" target="_blank">Buy on Amazon</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://cdn.x-kom.pl/i/setup/images/prod/big/product-new-big,,2022/10/pr_2022_10_3_8_58_52_937_00.jpg" alt="nvme image">
                </div>
                <div class="item-details">
                    <p class="item-title">Storage: NVMe</p>
                    <p class="item-desc">Goodram PX500 PCIe GEN 3 x4 NVMe 256GB</p>
                    <a class="link" href="https://www.x-kom.pl/p/1078055-dysk-ssd-goodram-256gb-m2-pcie-nvme-px500-g2.html" target="_blank">Buy on x-kom</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://m.media-amazon.com/images/I/61yXRHMJTDL._AC_SL1500_.jpg" alt="hdd image">
                </div>
                <div class="item-details">
                    <p class="item-title">Storage: HDD</p>
                    <p class="item-desc">TOSHIBA MQ01ABD100 1TB 2,5</p>
                    <a class="link" href="https://www.amazon.com/dp/B009AYVNMQ" target="_blank">Buy on Amazon</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://m.media-amazon.com/images/I/81WsV5yKboL._AC_SL1500_.jpg" alt="power supply image">
                </div>
                <div class="item-details">
                    <p class="item-title">Power Supply</p>
                    <p class="item-desc">Cooler Master MWE V2 500W 80 Plus</p>
                    <a class="link" href="https://www.amazon.com/dp/B082NK1QWG" target="_blank">Buy on Amazon</a>
                </div>
            </div>
            <div class="container-item">
                <div class="item-img">
                    <img class="img" src="https://m.media-amazon.com/images/I/81I9Ef0fOIL._AC_SL1500_.jpg" alt="pc case image">
                </div>
                <div class="item-details">
                    <p class="item-title">PC Case</p>
                    <p class="item-desc">Cooler Master MasterBox Q300L</p>
                    <a class="link" href="https://www.amazon.com/dp/B0785GRMPG" target="_blank">See on Amazon</a>
                </div>
            </div>
        </div>
    </div>
</Layout>
<style>
    .main {
        text-align: left;
        justify-content: left;
        max-width: 100%;
    }
    .header-text {
        margin: 0;
        font-size: 35px;
        padding-bottom: 5px;
        font-weight: 600;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
    }
    .container-item{
        display: flex;
        gap: 10px;
        flex-direction: row;
        border-radius: var(--roundness);
        background-color: var(--color-main-background-secondary);
        padding: 1rem;
        margin: 0.2rem;
    }
    .img{
        width: 100px;
        height: 100px;
        border-radius: var(--roundness);
        object-fit: cover;
    }
    .item-title{
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        margin: 0;
        color: var(--color-text);
    }
    .item-desc{
        color: var(--color-text-secondary);
        font-size: 15px;
        text-align: left;
        margin: 0;
    }
    .link{
        text-decoration: none;
        color: var(--accent-gradient);
        transition: 0.2s ease;
        &:hover{
            color: var(--color-text-hover);
            text-decoration: underline;
        }
    }
    @media (max-width: 768px){
        .header-text{
            text-align: center;
        }
        .container{
            grid-template-columns: 1fr;
        }
    }
</style>