---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";
---

<Layout title="Vorlie | Verify" description="Verify your account">
    <div class="verify-container">
        <!-- Content will be inserted dynamically by TypeScript -->
    </div>
</Layout>
<script src="../scripts/verify.ts"></script>