---
import '../styles/globals.css';
---
<astro>
    <div class="audioPlayer">
        <div class="visualizer-container">
            <canvas id="visualizer"></canvas>
        </div>
        <audio id="audioPlayer">
            <source src="" type="audio/aac" />
            Your browser does not support the audio element.
        </audio>
        <div class="songName">
            <p id="songTitle">No song playing.</p>
        </div>
        <div class="controls">
            <button id="previousButton" title="Previous">◀︎</button>
            <button id="playButton" title="Play">Play</button>
            <button id="pauseButton" title="Pause">Pause</button>
            <button id="muteButton" title="Mute">Mute</button>
            <button id="nextButton" title="Next">▶︎</button>
        </div>
        <div class="sliderNames">
            <p>How long</p>
            <p>How loud</p>
        </div>
        <div class="sliders">
            <input type="range" id="seekBar" value="0" />
            <input
                type="range"
                id="volumeBar"
                min="0"
                max="1"
                step="0.01"
                value="1"
            />
        </div>
    </div>
</astro>
<script src="../scripts/audio.ts"></script>