---
import "../styles/globals.css";
---

<div>
    <div class="eightyEightByThirtyOne">
        <iframe src="https://vorlie.pages.dev/iframe/" height="31" width="88" frameborder="0" loading="lazy"></iframe>
        <a href="https://uwu.gal/about-us"><img src="https://uwu.gal/button.png" width="88" height="31" alt="uwu.gal button" /></a>
        <a href="https://byeoon.github.io/"><img src="/images/byoon.png" width="88" height="31" alt="byeoon button" /></a>
        <iframe src="https://pre1ude.dev/referer" height="31" width="88" frameborder="0" loading="lazy" title="pre1ude"></iframe>
        <a href="https://deepy.me/"><img src="/images/deepy.png" width="88" height="31" alt="deepy button" ></a>
    </div>
    <div class="eightyEightByThirtyOneButtonContainer">
        <button class="eightyEightByThirtyOneButton" id="copyButton">Copy my button code</button>
    </div>
    <div id="copyNotification" class="copy-notification" style="display: none;">Iframe code copied to clipboard!</div>
</div>

<script src="../scripts/copyIframeCode.ts"></script>