---
import "../styles/globals.css";
---
<astro>
    <div class="eightyEightByThirtyOne">
        <a href="https://uwu.gal/about-us"><img src="https://uwu.gal/button.png" width="88" height="31" /></a>
        <a href="https://byeoon.github.io/"><img src="/images/byoon.png" width="88" height="31" /></a>
        <iframe src="https://pre1ude.dev/referer" height=31 width=88 frameborder=0 loading=lazy></iframe>
    </div>
</astro>