---
import "../styles/globals.css";
---

<h2 class="eightyEightByThirtyOneTitle">My Friends</h2>
<div class="eightyEightByThirtyOne">
    <a href="https://vorlie.pages.dev/"><img src="/images/vorlie.png" alt="vorlie button" width="88" height="31" loading="lazy" /></a>
    <a href="https://uwu.gal/about-us" target="_blank"><img src="https://uwu.gal/button.png" width="88" height="31" alt="uwu.gal button" loading="lazy" /></a>
    <a href="https://byeoon.github.io/" target="_blank"><img src="/images/byoon.png" width="88" height="31" alt="byeoon button" loading="lazy" /></a>
    <iframe src="https://pre1ude.dev/referer" height="31" width="88" frameborder="0" loading="lazy" title="pre1ude"></iframe>
    <a href="https://deepy.me/" target="_blank"><img src="/images/deepy.png" width="88" height="31" alt="deepy button" loading="lazy" ></a>
    <a href="https://specifix.dev/" target="_blank"><img src="/images/specifix.png" width="88" height="31" alt="specifix button" loading="lazy" ></a>
    <a href="https://megu.dev/" target="_blank"><img src="https://uwu.gal/static/images/friends/megudev.png" width="88" height="31" alt="specifix button" loading="lazy" ></a>
</div>
<div class="eightyEightByThirtyOneButtonContainer">
    <button class="eightyEightByThirtyOneButton" id="copyButton">Copy my button code</button>
</div>
<div id="copyNotification" class="copy-notification" style="display: none;">Iframe code copied to clipboard!</div>

<script src="../scripts/copyIframeCode.ts"></script>