---
import NavItem from './react/NavItem';
---
<script src="../scripts/toggleHamburger.ts"></script>
<div class="navbar">
  <div class="navbar-inner-container">
    <a class="lanyard" href="https://discord.com/users/614807913302851594">
      <div class="vorlie">
        <img id="avatar" src="/images/de4515e977f7dce09cbb3bc3fc3924fa.png" alt="User Avatar" />
        <img id="avatar-deco" src="/images/decor.png"/>
        <div class="userinfo">
          <p style="margin: 4px auto;font-weight: 600;font-size: 20px; color: var(--color-1);">
            meow<br>
            <span style="color: var(--color-2);">:3</span></p>
        </div>
      </div>
    </a>
    <button popovertarget="nav-hamburgertarget" id="nav-hamburger" class="nav-hamburger">
      <i class="bi bi-list fontsize2"></i>
    </button>
    <div popover id="nav-hamburgertarget" class="hamburger-menu" >
      <!-- <NavItem id="home" link="/" linkText="Home" iconString="house-fill" />
      <NavItem id="credits" link="/credits" linkText="Credits" iconString="info-square-fill" /> -->
      <NavItem id="discord" link="https://vorlie.pages.dev/?link=discord" linkText="Discord" iconString="discord" subClass='subcolor' newPage />
      <NavItem id="github" link="https://vorlie.pages.dev/?link=github" linkText="GitHub" iconString="github" subClass='subcolor' newPage />
      <NavItem id="youtube" link="https://vorlie.pages.dev/?link=youtube" linkText="YouTube" iconString="youtube" subClass='subcolor' newPage />
      <hr />
      <button id="themeToggle" class="theme-toggle subcolor" title="Toggle theme"><i class="bi bi-lightbulb"></i> Toggle theme</button>
    </div>
    <!--<div class="nav-items">
      <NavItem id="home" link="/" linkText="Home" iconString="house-fill" title='Home page' />
      <NavItem id="credits" link="/credits" linkText="Credits" iconString="info-square-fill" title='Credits' />
    </div> -->
    <div class="nav-items">
      <NavItem id="discord" link="https://vorlie.pages.dev/?link=discord" iconString="discord" subClass='subcolor' newPage title='Discord' />
      <NavItem id="github" link="https://vorlie.pages.dev/?link=github" iconString="github" subClass='subcolor' newPage title='GitHub' />
      <NavItem id="youtube" link="https://vorlie.pages.dev/?link=youtube" iconString="youtube" subClass='subcolor' newPage title='YouTube' />
    </div>
    <div class="nav-items">
      <button id="themeToggle2" class="theme-toggle subcolor" title="Toggle theme"><i class="bi bi-lightbulb"></i></button>
    </div>
  </div>
  <div id="invisible-close-button" class="invisible-close-button"></div>
  <div id="backdrop" class="backdrop"></div>
</div>
