---
import LanyardNavbar from "./LanyardNavbar.astro"
---
<div class="sidebar-inner">
  <LanyardNavbar />
  <nav>
    <a href="/">Home</a>
    <a href="/fonts">Fonts</a>
    <a href="/projects">Projects</a>
    <a href="/pc-specs">My PC Specs</a>
    <a href="/discord-timestamps">Timestamps</a>
    <a href="/minecraft-skin">My Minecraft Skin</a>
    <a href="/credits">Credits</a>
  </nav>
  <div class="footer">
    <a href="https://github.com/vorlie/vorli3"><i class="bi bi-github"></i> Source Code</a>
  </div>
</div>
<style>
.sidebar-inner {
  padding: 10px;
}
nav a {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s ease;
  padding: 4px;
  text-align: center;
  border-radius: var(--roundness-2);
  background: var(--color-main-background-secondary);
  &:hover {
    color: var(--color-text-hover);
    background: var(--color-1);
  }
}
.footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.footer a{
  color: var(--color-text);
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s ease;
  padding: 4px;
  &:hover {
    color: var(--color-text-hover);
  }
}
</style>
