---
import LanyardNavbar from "./LanyardNavbar.astro";
import "../styles/Sidebar.css";
---
<div class="sidebar-inner">
  <LanyardNavbar />
  <nav>
    <a href="/">Home</a>
    <a href="/fonts">Fonts</a>
    <a href="/projects">Projects</a>
    <a href="/pc-specs">My PC Specs</a>
    <a href="/discord-timestamps">Timestamps</a>
    <a href="/minecraft-skin">My Minecraft Skin</a>
    <a href="/credits">Credits</a>
  </nav>
  <div class="footer">
    <a href="https://github.com/vorlie/vorlie"><i class="bi bi-github"></i> Source Code</a>
  </div>
</div>

