@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Chicle&family=Creepster&family=Metal+Mania&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Pixelify+Sans:wght@400..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-blue-50: oklch(0.98 0.01 227);
  --color-blue-100: oklch(0.95 0.02 227);
  --color-blue-200: oklch(0.90 0.035 227);
  --color-blue-300: oklch(0.85 0.045 227);
  --color-blue-400: oklch(0.77 0.055 227);
  --color-blue-500: oklch(0.70 0.063 227);
  --color-blue-600: oklch(0.60 0.06 227);
  --color-blue-700: oklch(0.50 0.055 227);
  --color-blue-800: oklch(0.40 0.05 227);
  --color-blue-900: oklch(0.30 0.045 227);
  --color-blue-950: oklch(0.20 0.04 227);
}

:root {
  --white-500: #FFFFFF;
  --custom-display-name-styles-main-color: #ca44ff;
  --custom-display-name-styles-light-1-color: #dc85ff;
  --custom-display-name-styles-light-2-color: #ffffff;
  --custom-display-name-styles-dark-1-color: #8b00c2;
  --custom-display-name-styles-dark-2-color: #2e0041;
}

.font-tempo {
  font-family: 'Zilla Slab', serif;
}

.font-sakura {
  font-family: 'Cherry Bomb One', cursive;
}

.font-jellybean {
  font-family: 'Chicle', cursive;
}

.font-modern {
  font-family: 'MuseoModerno', sans-serif;
}

.font-8bit {
  font-family: 'Pixelify Sans', sans-serif;
}

.font-vampyre {
  font-family: 'Creepster', cursive;
}

.font-medieval {
  font-family: 'Metal Mania', cursive;
}

.effect-container {
  position: relative;
  display: flex;
}

.effect-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.effect-neon {
  color: var(--custom-display-name-styles-main-color, white);
  position: relative;
  display: inline-flex;
}

.effect-neon .glow-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background: linear-gradient(to bottom left,
      var(--custom-display-name-styles-light-2-color) 0%,
      var(--custom-display-name-styles-light-2-color) 6%,
      var(--custom-display-name-styles-main-color) 20%,
      var(--custom-display-name-styles-light-1-color) 50%,
      var(--custom-display-name-styles-light-2-color) 56%,
      var(--custom-display-name-styles-main-color) 70%,
      var(--custom-display-name-styles-light-1-color) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  background-position: 100% 0;
  background-size: 200% 200%;

  -webkit-text-fill-color: transparent;
  color: var(--custom-display-name-styles-main-color);

  filter: blur(calc(1px + 0.12em));
  opacity: 0.8;
  -webkit-text-stroke-width: calc(1px + 0.04em);
  -webkit-text-stroke-color: transparent;
  perspective: 1px;

  animation: neon-glow-flicker-animation 1666ms linear normal infinite forwards;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

/* The main text layer */
.effect-neon .text-layer {
  position: relative;
  z-index: 2;
  paint-order: stroke fill;

  -webkit-text-stroke-width: calc(1px + 0.04em);
  -webkit-text-stroke-color: var(--custom-display-name-styles-dark-1-color, #500fbf);

  color: var(--white-500);

  animation: neon-flicker-animation 4s cubic-bezier(.24, .31, .36, .93) forwards infinite;
  animation-direction: normal;

  animation-fill-mode: forwards;

  -webkit-padding-start: calc(1px + 0.04em);
  padding-inline-start: calc(1px + 0.04em);
  -webkit-margin-start: calc(-1px - 0.04em);
  margin-inline-start: calc(-1px - 0.04em);
  margin-bottom: calc(-1px - 0.04em);
  padding-bottom: calc(1px + 0.04em);
}


@keyframes neon-flicker-animation {

  0%,
  15%,
  18%,
  20%,
  23%,
  25%,
  50% {
    color: var(--white-500);
  }

  16%,
  22%,
  28% {
    color: var(--custom-display-name-styles-light-1-color);
  }

  51%,
  100% {
    color: var(--white-500);
  }
}

@keyframes neon-glow-flicker-animation {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 100%;
  }
}
