---
interface Props {
	title: string;
	description: string;
	
}
const { title } = Astro.props;
const { description } = Astro.props;

import Sidebar from '../components/Sidebar.astro';
import Particles from '../components/particles.astro';
import NoiseBackground from '../components/NoiseBackground.astro';
import SpeedInsights  from "@vercel/speed-insights/astro"
import Navbar from '../components/Navbar.astro';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="vorlie">
        <meta property="og:type" content="website">
        <meta property="og:description" content={description}>
        <meta property="og:image" content="/images/de4515e977f7dce09cbb3bc3fc3924fa.png">
        <meta property="og:url" content="">
        <meta name="description" content={description}>
		<link rel="icon" type="image/png" href="/images/de4515e977f7dce09cbb3bc3fc3924fa-circle.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="theme-color" content="#EB819D">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<SpeedInsights />
		<Particles />
		<NoiseBackground />
		<!--<div class="sidebar-container">
			<div class="sidebar">
				<Sidebar />
			</div>
		</div>
		<div class="navbar-container">
			<div class="navbar">
				<a href="/">Home</a>
				<a href="/fonts">Fonts</a>
				<a href="/projects">Projects</a>
				<a href="/pc-specs">My PC Specs</a>
				<a href="/discord-timestamps">Timestamps</a>
				<a href="/minecraft-skin">My Minecraft Skin</a>
				<a href="/credits">Credits</a>
			</div>
		</div> -->
		<Navbar />
		<div class="main-content">
		  	
		  	<slot />
		</div> 
	  </body>
</html>
<script src="../scripts/lanyard/updateLanyard.ts"></script>

<style is:global>
	:root {
		--accent-gradient: #EB819D;  
		--color-background: #101112; 
		--color-main: #16171a;
		--color-main-background: #202225d0;
		--color-main-background-secondary: #20222580; 
		--rn-background-color: #FDD5DD; 
		--rn-background-color-2: #FEEBEA; 
		--color-1: #EB819D; 
		--color-2: #BB4160; 
		--color-3: #A41A4C; 
		--color-text-secondary: #FEEBEA80; 
		--color-text: #FDD5DD;
		--color-text-dark: #A41A4C; 
		--color-text-hover: #FFFFFF; 
		--border-color: #FED8CD80; 
		--roundness: 16px; 
		--roundness-2: 8px; 
		--status-color-online: #43b581; 
		--status-color-dnd: #f04747; 
		--status-color-idle: #faa61a; 
		--status-color-offline: #636366; 
	}
	::selection{
		color: var(--color-text-dark);
		background: var(--rn-background-color-2);
	}
	::-moz-selection{
		color: var(--color-text-dark);
		background: var(--rn-background-color-2);
	}
	html {
		scroll-behavior: smooth;
		color: var(--color-text);
		font-family: system-ui, sans-serif;
		/*background: radial-gradient(circle, transparent 25%, var(--color-background)  26%),linear-gradient(45deg, transparent 46%, var(--color-main) 47%, var(--color-main) 52%, transparent 53%), linear-gradient(135deg, transparent 46%, var(--color-main) 47%, var(--color-main) 52%, transparent 53%);
	    background-size: 3em 3em;*/
		background-color: var(--color-background);
		opacity: 1;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	img{
		-webkit-user-drag: none;
		user-drag: none;
		pointer-events: none;
		-khtml-user-drag: none;
		-moz-user-drag: none;
		-o-user-drag: none;
	}
	body, .non-selectable {
		-webkit-user-select: none;
		-moz-user-select: none;   
		-ms-user-select: none;    
		user-select: none;    
	}
	.img-draggable {
		-webkit-user-drag: auto;
		user-drag: auto;
		pointer-events: auto; 
	}
	.activityPointerEventsAllow {
		pointer-events: auto; 
	}
	.main-content{
		margin: 10px auto;
		justify-content: center;
		max-width: 1200px;
	}

</style>