---
interface Props {
	title: string;
	description: string;
	
}
const { title } = Astro.props;
const { description } = Astro.props;

import "../styles/globals.css";

import Particles from '../components/particles.astro';
import NoiseBackground from '../components/NoiseBackground.astro';
import SpeedInsights  from "@vercel/speed-insights/astro"
import Navbar from '../components/Navbar.astro';
import CustomContextMenu from '../components/react/CustomContextMenu';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta property="og:title" content="vorlie">
        <meta property="og:type" content="website">
        <meta property="og:description" content={description}>
        <meta property="og:image" content="/images/de4515e977f7dce09cbb3bc3fc3924fa.png">
        <meta property="og:url" content="">
        <meta name="description" content={description}>
		<link rel="icon" type="image/png" href="/images/de4515e977f7dce09cbb3bc3fc3924fa-circle.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="theme-color" content="#b4befe">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div id="custom-cursor"></div>
		<div id="custom-cursor-outline"></div>
		<SpeedInsights />
		<Particles />
		<NoiseBackground />
		<Navbar />
		<div class="main-content">
		  	<slot />
		</div> 
		<CustomContextMenu client:load />
	  </body>
</html>
<script src="../scripts/lanyard/updateLanyard.ts"></script>
<script src="../scripts/cursor.ts"></script>
<script>
import redirect from "../scripts/redirect";

	redirect();
</script>
<style is:global>
	::selection{
		color: var(--color-text-inverted);
		background: var(--color-bg-muted);
	}
	::-moz-selection{
		color: var(--color-text-inverted);
		background: var(--color-bg-muted);
	}
	html {
		scroll-behavior: smooth;
		color: var(--color-text-primary);
		font-family: system-ui, sans-serif;
		background-color: var(--color-bg-base);
		opacity: 1;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body, .non-selectable {
		-webkit-user-select: none;
		-moz-user-select: none;   
		-ms-user-select: none;    
		user-select: none;    
	}
	.img-draggable {
		-webkit-user-drag: auto;
		user-drag: auto;
		pointer-events: auto; 
	}
	.activityPointerEventsAllow {
		pointer-events: auto; 
	}
	.main-content{
		margin: auto;
		justify-content: center;
		max-width: 1200px;
	}
</style>